#content {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .container {
        background-color: #DCDCDC;
        margin: 100px auto;
        margin-top: 20px;
        width: 40%;
        background: #fff;
        position: relative;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

        .header {
            color: red;
            font-size: 2em;
        }

        .content {
            input {
                margin-top: 5px;
                margin: auto;
                width: 90%;
                height: 30px;
                margin-top: 5px;
                line-height: 30px;
                font-size: 25px;
            }

            ul {
                list-style-type: none;
                margin: 10px auto;
                padding: 0px 0px;

                li {
                    cursor: pointer;
                    margin: 10px 0px;
                    height: 40px;
                    line-height: 40px;
                    text-align: left;
                    border: 1px solid #ECECEC;
                    padding-left: 10px;
                    overflow: hidden;

                    .left {
                        float: left;
                        width: 10%;
                        line-height: 40px;
                    }

                    .right {
                        float: right;
                        width: 85%;
                    }

                    a {
                        float: right;
                        padding-right: 10px;
                    }
                }

                .done {
                    text-decoration: line-through;
                    color: #FFF;
                    background-color: #964848;
                }
            }

            .filter {
                padding: 10px 4%;
                ul {
                    .active {
                        color: #FFF;
                        background-color: #626F27;
                    }

                    li {
                        width: 30%;
                        float: left;
                        text-align: center;
                    }
                }
            }
        }
    }

}
